@tailwind base;
@tailwind components;
@tailwind utilities;
 
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.error {
  font-size: .8rem;
  color: red;
}